/*Light Mode Palette*/
:root[color-mode="light"] {
  --surfaceApp: #eff0f3;
  --surfaceSearchBar: #fffffe;
  --surfacePage: #94a1b2;
  --mainElement: #0d0d0d;
  --secondaryElement: #2a2a2a;
  --tertiaryElement: #121629;
  --primary: #ff8e3c;
  --secondary: #e53872;
  --tertiary: #f25f4c;
}

:root[color-mode="dark"] {
  --surfaceApp: #0f0e17;
  --surfaceSearchBar: #0f0e17;
  --surfacePage: #121629;
  --mainElement: #fffffe;
  --secondaryElement: #b8c1ec;
  --tertiaryElement: #fffffe;
  --primary: #ff8e3c;
  --secondary: #e53872;
  --tertiary: #f25f4c;
}

body {
  background-color: var(--surfacePage) !important;
}

.appLayout {
  display: block;
  max-width: 800px;
  margin: 60px auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.weatherApp {
  background: var(--surfaceApp) !important;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  color: var(--mainElement) !important;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.weatherApp h2 {
  font-size: 32px;
  text-decoration: none;
}

.weatherApp form {
  color: var(--surfaceSearchBar) !important;
  margin-top: 10px;
  border-bottom: 1px solid var(--secondaryElement) !important;
  padding-bottom: 30px;
  display: block;
  line-height: 1.5 !important;
}

.weatherApp .search-Input {
  background: var(--primary) !important;
  padding: 15px 20px !important;
  display: inline-block;
  border-radius: 6px;
  border-color: var(--primary) !important;
  color: var(--primary) !important;
  font-size: 16px !important;
  height: 50px !important;
  line-height: 20px;
}

.weatherApp .form-control {
  background: var(--surfaceSearchBar) !important;
  color: var(--primary) !important;
  border-color: var(--primary) !important;
  font-size: 16px;
  padding: 15px 20px !important;
  height: 50px;
}

.weatherApp .input,
.text-area,
::placeholder {
  color: var(--primary) !important;
  font-weight: 600;
}

::placeholder {
  opacity: 0.5 !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  line-height: 1.5 !important;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.btn-primary:hover {
  color: var(--secondaryElement) !important;
  background-color: var(--surfaceSearchBar) !important;
}

.currentWeather {
  margin-top: 20px;
}

.currentWeather h1 {
  margin: 20px 0 10px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: var(--secondaryElement) !important;
}

.currentWeather ul {
  margin: 0;
  padding: 0;
}

.currentWeather li {
  display: block;
  list-style-type: none;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--tertiaryElement) !important;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

.currentWeather li strong {
  color: var(--secondary);
  font-weight: 500;
}

.currentWeather .temp-container {
  margin-top: 30px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.currentWeather .temperature {
  color: var(--mainElement) !important;
  margin-left: 10px;
  font-weight: 700;
  font-size: 80px !important;
  line-height: 1;
}

.currentWeather .units {
  color: var(--tertiaryElement) !important;
  font-size: 28px;
  font-weight: 400;
  position: relative;
}

.weather-forecast {
  text-align: center;
  margin: 40px 0 !important;
  border-bottom: 1px solid var(--secondaryElement);
  padding-bottom: 40px;
}

.weather-forecast .row {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-left: 0px;
  margin-right: 0px;
}

.weather-forecast .next-day-info {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--tertiaryElement);
  opacity: 0.7;
}

.weather-forecast .next-day-temp {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: var(--tertiary);
  opacity: 0.9;
  font-weight: 700;
}

.weather-forecast .weather-forecast-temp-min {
  opacity: 0.7;
}

footer {
  font-size: 14px;
  margin-top: 30px;
  line-height: 18px;
  text-align: center;
  color: var(--secondaryElement);
}

.weatherApp footer a {
  color: var(--secondary);
  text-decoration: none;
  background-color: transparent;
}

.weatherApp footer .span {
  color: var(--secondary) !important;
}
